@font-face {
  font-family: "iconfont"; /* Project id 3018733 */
  src: url('iconfont.woff2?t=1672676715722') format('woff2'),
       url('iconfont.woff?t=1672676715722') format('woff'),
       url('iconfont.ttf?t=1672676715722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xteve:before {
  content: "\e6d9";
}

.icon-baiduyun:before {
  content: "\e8d9";
}

.icon-jd:before {
  content: "\e64d";
}

.icon-chrome:before {
  content: "\ea09";
}

.icon-chevereto:before {
  content: "\e6bb";
}

.icon-calibre:before {
  content: "\e633";
}

.icon-qbittorrent:before {
  content: "\e67a";
}

.icon-tinyMediaManager:before {
  content: "\e669";
}

.icon-homeassistant:before {
  content: "\e91c";
}

.icon-airsonic:before {
  content: "\e604";
}

.icon-yunpan:before {
  content: "\f6aa";
}

.icon-cloudDrive:before {
  content: "\e682";
}

.icon-oftenFine:before {
  content: "\e60e";
}

.icon-music:before {
  content: "\e698";
}

.icon-docker:before {
  content: "\e764";
}

.icon-qiandao:before {
  content: "\f6a0";
}

.icon-Docker:before {
  content: "\e9f3";
}

.icon-Synology:before {
  content: "\e615";
}

.icon-often:before {
  content: "\e63d";
}

.icon-nas:before {
  content: "\e763";
}

.icon-synology:before {
  content: "\e651";
}

